#app {
    height: inherit;
    width: inherit;
    font-family: 'Roboto Light', sans-serif;
}

#app .app-hero .cover {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(25, 71, 89, 0.7), rgba(15, 43, 68, 0.9));
}

/* home - app-hero */
#app .app-main .app-hero {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url("../images/pexels-anni-roenkae-2832432.jpg") no-repeat bottom;
    background-size: auto;
}

#app .app-main .app-hero .wrapper {
    padding: 12px 0;
    overflow-y: scroll;
}

#app .app-main .app-hero .introduction .title {
    font-size: 2.1em;
    font-weight: bolder;
    width: max-content;
    border-bottom: 1px dashed #f8b31e;
    color: #fff;
}
#app .app-main .app-hero .introduction .description {
    margin-top: 4px;
    font-size: 1.2em;
    line-height: 1.2;
    color: #e8d3a4;
    border-radius: 0 9px 9px 0;
}


@media screen and (max-width: 764px) {
    #app .app-main .app-hero .introduction .description {
        width: 100%;
    }
}

@media screen and (min-width: 765px) {
    #app .app-main .app-hero .introduction .description {
        width: 80%;
    }
}
@media screen and (min-width: 1200px) {
    #app .app-main .app-hero .introduction .description {
        width: 60%;
    }
}

/* home - app-hero - links listing */
#app .app-main .app-hero .links-listing {
    width: max-content;
    margin-top: 40px;
    padding: 40px 39px 20px 0;
    border-radius: 0 9px 9px 0;
    background-color: #f8b31e;
}

#app .app-main .app-hero .links-listing .link:not(:last-child) {
    margin-right: 9px;

}
#app .app-main .app-hero .links-listing .link:not(:first-child) {
    border-left: 1px solid #292929;
    padding-left: 9px;
}

@media screen and (max-width: 399px) {
    #app .app-main .app-hero .links-listing {
        padding-left: 5%;
    }
}
@media screen and (min-width: 400px) {
    #app .app-main .app-hero .links-listing {
        padding-left: 7%;
    }
}


@media screen and (min-width: 512px) {
    #app .app-main .app-hero .links-listing {
        padding-left: 8%;
    }

}

@media screen and (min-width: 764px) {
    #app .app-main .app-hero .links-listing {
        padding-left: 10%;
    }
}

@media screen and (min-width: 992px) {
    #app .app-main .app-hero .links-listing {
        padding-left: 11%;
    }
}


@media screen and (min-width: 1200px) {
    #app .app-main .app-hero .links-listing {
        padding-left: 12%;
    }
}

@media screen and (min-width: 1500px) {
    #app .app-main .app-hero .links-listing {
        padding-left: 12.5%;
    }
}

@media screen and (min-width: 1900px) {
    #app .app-main .app-hero .links-listing {
        padding-left: 13%;
    }
}


    /* header */
#app .app-header {
    font-size: 1.2em;
    margin-top: 20px;
    padding: 9px 0;
}

#app .app-header,
#app .app-header .app-navigation {
    color: #cfcfcf;
}

#app .app-header > .title,
#app .app-header .app-navigation .link:hover,
#app .app-header .app-navigation .link.current {
    color: #fff;
}

#app .app-header .app-navigation .link:not(:first-child) {
    padding-left: 6px;
    border-left: 1px solid #cfcfcf;
}

#app .app-header .app-navigation .link:not(:last-child) {
    margin-right: 6px;

}

