.navbar .title {
    line-height: .8;
    font-weight: bold;
    font-size: 2em;
}
.navbar .nav-menu-links, .navbar .nav-menu-toggle {
    padding-top: 2px;
    font-size: 1.25em;
}

main.personal-board {
    overflow: scroll;
    margin-bottom: 70px;
}

main > *{
    padding: 10px;
}

.big-title {
    font-size: 3em;
    border-bottom: 2px solid #dd9603;
}

.lastname {
    font-weight: bold;
}

.subtitle {
    padding-top: 9px;
}