html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 660px;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

ul li, ol li {
    list-style: none;
}

div, main, header, footer, section {
    box-sizing: border-box;
}

.center {
    text-align: center;
    align-self: center;
}

.flex {
    display: flex;
}

.flex.flex-row {
    flex-direction: row;
}

.flex.flex-col {
    flex-direction: column;
}

.flex.flex-justify-space-between {
    justify-content: space-between;
}

.flex.flex-justify-end {
    justify-content: flex-end;
}

.flex.flex-justify-center {
    justify-content: center;
}

.flex.align-items-end {
    align-items: flex-end;
}

.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-2 {
    flex-grow: 2;
}
.flex-grow-3 {
    flex-grow: 3;
}
.flex-grow-4 {
    flex-grow: 4;
}
.flex-grow-5 {
    flex-grow: 5;
}
.flex-grow-6 {
    flex-grow: 6;
}
.flex-grow-7 {
    flex-grow: 7;
}
.flex-grow-8 {
    flex-grow: 8;
}
.flex-grow-9 {
    flex-grow: 9;
}
.flex-grow-10 {
    flex-grow: 10;
}


.container {
    margin: 0 auto;
}

