html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 660px;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    margin: 0;
    padding: 0;
    width: 100%;
}

ul li, ol li {
    list-style: none;
}

div, main, header, footer, section {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex.flex-row {
    flex-direction: row;
}

.flex.flex-col {
    flex-direction: column;
}

.flex.flex-justify-space-between {
    justify-content: space-between;
}

.flex.flex-justify-end {
    justify-content: flex-end;
}

.flex.flex-justify-center {
    justify-content: center;
}

.flex.align-items-end {
    align-items: flex-end;
}

.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-2 {
    flex-grow: 2;
}
.flex-grow-3 {
    flex-grow: 3;
}
.flex-grow-4 {
    flex-grow: 4;
}
.flex-grow-5 {
    flex-grow: 5;
}
.flex-grow-6 {
    flex-grow: 6;
}
.flex-grow-7 {
    flex-grow: 7;
}
.flex-grow-8 {
    flex-grow: 8;
}
.flex-grow-9 {
    flex-grow: 9;
}
.flex-grow-10 {
    flex-grow: 10;
}

main {
    color: #dddddd;
    overflow: scroll;
}

main.hero {
    padding: 10px;
    margin-bottom: 80px;
}

.container {
    margin: 0 auto;
}


@media screen and (max-width: 399px) {

    body .container {
        width: 95%;
    }
}

@media screen and (min-width: 400px) {

    body .container {
        width: 95%;
    }
}

@media screen and (min-width: 600px) {

    body .container {
        width: 93%;
    }
}

@media screen and (min-width: 800px) {

    body .container {
        width: 91%;
    }
}

@media screen and (min-width: 1024px) {

    body .container {
        width: 88%;
    }
}

@media screen and (min-width: 1300px) {

    body .container {
        width: 84%;
    }
}

@media screen and (min-width: 1900px) {

    body .container {
        width: 80%;
    }
}

@media screen and (max-width: 1023px) {
    .nav-menu-toggle {
        display: inline-block;
    }

    .nav-menu-links, .nav-menu-links.flex {
        display: none;
    }

    .nav-menu-links.flex.menu-is-active, .nav-menu-links.menu-is-active {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {
    .nav-menu-toggle {
        display: none;
    }

    .nav-menu-links {
        display: flex;
        flex-direction: row;
    }

    .navbar {
        display: flex;
        flex-direction: row;
    }
}

.navbar {
    padding-top: 18px;
}

.navbar .nav-menu-links li{
    display: block;
}

.navbar .title {
    line-height: .8;
    font-weight: bold;
    font-size: 2em;
}
.navbar .nav-menu-links, .navbar .nav-menu-toggle {
    padding-top: 2px;
    font-size: 1.25em;
}