.cavendish-theme {
}

.cavendish-theme *{
    color: #292929;
}

body.cavendish-theme {
    background-color: #ddd;
}

.cavendish-theme main {
   background-color: #292929;
}

.cavendish-theme footer {
    background-color: #dd9910;
}