#app .app-hero .title .name {
    color: #fff;
}

#app .app-navigation .app-button:hover,
#app .app-navigation .app-button:active,
#app .app-navigation .app-button.router-link-active,
#app.cavendish-theme .app-header button.app-button,
#app.cavendish-theme .app-about .summary,
#app.cavendish-theme {
    color: #e0d1bf;
}

#app .app-navigation .app-button {
    color: #8a8377;
}

#app.cavendish-theme .app-header button.app-button,
#app.cavendish-theme {
    background-color: #292929;
}

#app.cavendish-theme footer {
    background-color: #dd9603;
}

#app.cavendish-theme .app-hero .title .name {
    border-bottom-color: #dd9603;
}

#app .buttons-listing .app-button {
    background-color: #813aef;
}

